.phrase--container {

    @include container-styles;

    .phrase--input {
        resize: none;
        box-sizing: border-box;
        height: 100px;
        width: 100%;
        border-style: solid;
        border-radius: 5px;
        font-size: 16px;
        padding: 5px;
    }

    .phrase--submit {
        @include button-styles;
    }
}