.game--info {

    display: inline-block;
    margin: auto;

    .remaining-tries--container {

        display: inline-block;
        font-weight: 700;

        .remaining-tries--description,
        .remaining-tries {
            vertical-align: middle;
        }

        .remaining-tries--description {
            margin-right: 10px;
        }

        .remaining-tries {

            font-size: 35px;

            &.remaining-tries--danger {
                color: $red;
            }

            &.remaining-tries--warning {
                color: $orange;
            }

            &.remaining-tries--safe {
                color: $light-green;
            }
        }
    }
}